.project{
    padding: 1.5rem;
    background-color: var(--bk-tertiary);
    padding-top: 4.3rem;
    padding-bottom: 4.3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;



    h2{
        font-family: Roboto_slab;
        font-size: 2.5rem;
        font-weight: 600;
        color: var(--color-primary);
        text-align: center;
        margin-bottom: 2.5rem;

    }
    p{
        font-family: Roboto;
        font-size: 2.2rem;
        font-weight: 600;
        color: var(--color-primary);
        text-align: center;
        margin-bottom: 2.5rem;
        line-height: 2.5rem;
    }

    &__card{
        background-color: var(--color-primary);
        border-radius: 1.5rem;
        padding: 1rem;
        max-width: 112rem;
      

        &__block{
            &__pic{
                width: 100%;
                height: auto;

                @include media (medium){
                    width: 500px;
                    object-fit: cover;
                    height: auto;
                }
            }

            &__info{
                &__title{
                    font-family: Roboto_slab;
                    font-size: 3rem;
                    margin-top: 1.5rem;
                    font-weight: 600;
                    color: var(--color-secondary);
                    text-align: center;
                    margin-bottom: 1rem;
                    &-medium{
                        font-family: Roboto!important;
                        color: var(--color-secondary)!important;
                        font-size: 1.8rem!important;
                        font-weight: 500!important;
                        text-align: left!important;
                    }
                }
            }

            @include media (medium){
                display: flex;
                flex-direction: row;
                gap: 1.2rem;
               
            }
        }
    }
}

