:root{
    font-size: 62.5%;
    scroll-behavior: smooth;
    --svg-filter: invert(58%) sepia(4%) saturate(2067%) hue-rotate(172deg) brightness(91%) contrast(85%);
    --svg-filter-active: invert(52%) sepia(77%) saturate(435%) hue-rotate(145deg) brightness(96%) contrast(98%);
    --color-primary:#F8F7F9;
    --color-secondary:#050517;
    --color-tertiary:#22AED1;
    --bk-primary:#F8F7F9;
    --bk-secondary:#0A2239;
    --bk-tertiary:#373F51;
}